## Postgres
POSTGRES_USER=crypto
POSTGRES_PASSWORD=crypto
POSTGRES_DB=crypto

## Mailhog SMTP configuration
SMTP_HOST=mailhog
SMTP_PORT=1025

## MQTT broker
MQTT_BROKER=mosquitto

## Indicator API settings
INDICATOR_API_URL=http://localhost:8000

## Webapp settings
NEXTAUTH_SECRET=please-change-this
